@model IEnumerable<InternetShopCore.Models.GroupCategory>

@{
    ViewData["Title"] = "Группы категорий";
}

<h4>Группы категорий</h4>
<hr />

@if (TempData["success"] != null)
{
    <p class="text-success">@TempData["success"].ToString()</p>
}

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"].ToString()</p>
}
<p>
    <a asp-action="AddGroupCategory">Добавить новую группу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditGroupCategory" asp-route-id="@item.GroupCategoryId">Редактировать</a> |
                    <a asp-action="DeleteGroupCategory" asp-route-id="@item.GroupCategoryId"
                       onclick="return confirm('Вы уверены что хотите удалить выбранную группу категорий?')">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>